.mail-app, .note-app ,.map-app{
    width: 300px;
    height: 300px;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size:contain; 
    background-repeat:no-repeat; 
    /* box-sizing: content-box; */
}

.mail-app {
    background-image: url("../img/icons/mail.png");
}

.note-app {
    background-image: url("../img/icons/note.png");
}

.map-app {
    background-image: url("../img/icons/map.png");
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width:80%;
    height: 500px;
    margin: 0 auto;
}

.mail-app:hover, .note-app:hover, .map-app:hover {
    outline: 3px solid black;
}

h1{
    font-size: 60px;
    text-align: center;
    font-family:'Lato';
}



.details{
    border: 1px solid red;
}

.email-prev{
    border: 1px solid black;
}

.search-box{
    border: 1px solid black;
    margin-left: 40px;
}

.front-page{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    margin: 50px;
}

.status{
    width:80%;
    height: 30px;
    background-color: blue;
}


