.mail-app, .note-app ,.map-app{
    width: 300px;
    height: 300px;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size:contain; 
    background-repeat:no-repeat; 
    box-sizing: border;
}

.mail-app {
    background-image: url("../img/icons/mail.png");
}

.note-app {
    background-image: url("../img/icons/note.png");
}

.map-app {
    background-image: url("../img/icons/map.png");
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width:80%;
    height: 500px;
    margin: 0 auto;
}

.mail-app:hover, .note-app:hover, .map-app:hover {
    border: 3px solid black;
}

h1{
    font-size: 60px;
    text-align: center;
    font-family:'Lato';
}


