.subject{
    font-size: 25px;
    font-weight: bold;
}

.mail-info{
    font-size: 15px;
    line-height: 43px;
    
}

.head-mail{
    border-bottom: 1px dashed black;
    display: flex;
    flex-direction: column;
}

.front-page{
    background-color: #E8ECEF;
    /* height: 480px; */
    height: 60vh;
    margin: 0 auto;
    border-radius: 20px;
    width:90vw;
}

.mails-list {
    overflow-y: scroll;
     padding: 8px;
     display: flex;
     flex-direction: column;
     width:30%;
}


.mailDetails {
    padding: 20px;
    width:70%;
}

.unread-mail {
    font-weight: bold;
}

.front-page{
    display: flex;
    flex-direction: row;
    /* margin: 50px; */
    border: 1px solid black;
}

.mail-compose-body {
    min-height:60px;
}

.mail-header {
    /* width:60%; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    padding-left: 50px;
    
}

.email-prev{
    border-bottom: 1px solid black;
    cursor: pointer;
    height: 50px;
    overflow: hidden; 
    display: flex;
    flex-direction: row-reverse;
    box-sizing: border-box;
}

.filter-checkbox{
    padding-left: 10px;
}

.fa-chevron-right{
    display: none;
}

.reply{
    cursor: pointer;
}

.mail-main {
    height: 100%;
}

.fa {
    cursor: pointer;
}

.icons-on-mobile{
    display: flex;
    flex-direction: row;
    align-items: center;
    width:10%;
    justify-content: space-between;
}

.status-bar-empty{
    text-align: center;
}

.compose-mail-button {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: none;
    background-color: #C5F4BF;
}

.mail-search-input {
    border-radius: 20px;
}

.mail-search-bar {
    display: flex;
    align-items: baseline;
}

.mail-list-container {
    box-shadow: none;
}