.subject{
    font-size: 25px;
    font-weight: bold;
}

.mail-info{
    font-size: 15px;
}

.head-mail{
    border-bottom: 1px dashed black;
}

.front-page{
    width:80%;
    height: 600px;
}

.mailsList {
    width: 40vw;   
    overflow-y: scroll;
}

.mailDetails {
    width: 57vw;
    border: 1px solid black;
}

.unread-mail {
    font-weight: bold;
}

.front-page{
    display: flex;
    flex-direction: row;
    margin: 50px;
}

.mail-compose-body {
    min-height:60px;
}