.subject{
    font-size: 25px;
    font-weight: bold;
}

.mail-info{
    font-size: 15px;
}

.head-mail{
    border-bottom: 1px dashed black;
}

.front-page{
    width:80%;
    height: 600px;
}

.mailsList {
    width: 40vw;   
}

.mailDetails {
    width: 57vw;
    border: 1px solid black;
}