.map-main-container {
    /* width: 80%; */
    /* height: 98%;     */
    display: flex;
    flex-direction: column;
}

.location-detail-box{
    display: flex;
    flex-direction: row;
}

.map {
    height: 70vh;
    width: 50vw;
    position: fixed;
    border: solid 2px black;
    border-radius: 10px;
    margin-top: 30px;
}

.search-box {
    /* z-index: 99999; */
    /* position: absolute; */
    width: 300px;
    /* padding: 10px; */
    margin: 10px;
}

.search-map {
    display: flex;
    align-items: center;
    margin-left: 100px;
}

.search-bar-button {
    height: 40px;
    margin: 0 10px
}

.map-control-container {
    width: 90vw;
}

.map-box{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    margin: 0 auto;
}

li{
    cursor: pointer;
}
h2{
    font-size: 1.5em;
}

container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.location-details{
    margin-left: 60px;
    margin-top: 7px;
}   

.locations-list{
    margin-top: 18px;
    /* width: 60%; */
    line-height: 40px;
}

h2{
    font-size: 1.1em;
    font-weight: bold;
}

.fa {
    align-self: center;
}

label{
    margin: 8px;
}

.fa-cutlery{
    color:#300436;
}

.fa-ambulance{
    color:#E32831;
}

.fa-university{
    color:#36057A;
}

.fa-shopping-cart {
    color: green;
}

.map-details-footer{
    margin-top: 10px;
}

.top-section{
    width:250px;
    height: 170;
}

li{
    border-bottom: 1px solid black;
}


.map-control-container{
    display: flex;
    flex-wrap: wrap;
}

.search-map{
    flex-wrap: wrap;
}





@media screen and (max-width: 480px) {

    .map-main-container{
        margin-left: 25px;
    }
    .search-container{
        margin-right: 32px;
    }

    .map {
        width: 80vw; 
    }

    .map-box{
        flex-direction: column-reverse;
        justify-content: center; 
    }

    .locations-list{
        width: 60%;
        flex-direction: column;
    }

    .location-details{
        width:100%;
        margin-bottom: 50px;
        margin-top: 50px;
        margin-left: 0;
        display: flex;
        justify-content: center;
    }
   
    .place-row{
        text-align: center;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .search-buttons{
        display: flex;
        flex-direction: row;
    }

    .search-map{
        margin: 0;
        justify-content: center;
        margin-top: 30px;
    }

    .location-detail-box{
        justify-content: center;
        flex-direction: column;
        align-items: center;
        
    }

    .details-present-box{
   
        width: 94%;
        margin-left: -34px;
    }

}