.map-main-container {
    /* width: 80%; */
    /* height: 98%;     */
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.map {
    height: 70vh;
    width: 50vw;
    position: fixed;
    border: solid 2px black;
    border-radius: 10px;
    margin-top: 30px;
}

.search-box {
    /* z-index: 99999; */
    /* position: absolute; */
    width: 300px;
    /* padding: 10px; */
    margin: 10px;
}

.search-map {
    display: flex;
    align-items: center;
}

.search-bar-button {
    height: 40px;
    margin: 0 10px
}

.map-control-container {
    width: 90vw;
}

.map-box{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

li{
    cursor: pointer;
}
h2{
    font-size: 1.5em;
}

.location-detail-box{
    display: flex;
    flex-direction: row;
}

.location-details{
    margin-left: 40px;
    margin-top: 7px;
}   

.locations-list{
    margin-top: 18px;
    /* width: 60%; */
    line-height: 40px;
}

h2{
    font-size: 1.1em;
    font-weight: bold;
}

.fa {
    align-self: center;
}

label{
    margin: 8px;
}

.fa-cutlery{
    color:#300436;
}

.fa-hospital-o{
    color:#E32831;
}

.fa-university{
    color:#36057A;
}

.map-details-footer{
    margin-top: 10px;
}

.top-section{
    width:250px;
    height: 170;
}

li{
    border-bottom: 1px solid black;
}
