
@media screen and (max-width: 480px) {
    
    .mailDetails{
        display: none;
    }
    .front-page{
        width: 100%;
        padding: 10px;
    }

    .box{
        padding: 0;
        margin-top: 30px;
    }
    .status-bar-container{
       display: none;
    }
    .mail-header{
        /* margin-top: 40px; */
        width:90%;
        display: flex; 
        height: 94px;
    }

    .mails-list{
        width: 100%;
        overflow-y:auto;
        padding: 0px;
        /* margin-bottom: 10px; */
    }

    .front-page{
        /* height: 1000px; */
        flex-direction: column;
    }

    .mailsList::-webkit-scrollbar { 
        display: none; 
    }

    .fa-chevron-right{
        display: inline;
    }

    .email-prev{
        display: flex;
        flex-direction: row-reverse;
    }

    .fa-trash-o{
        margin-right: 5px;
    }

    .mail-row{
        display: flex;
        flex-direction: row-reverse;
    }

    .fa-chevron-right{
        margin-top: 5px;
    }

    .mobile-page{
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .icons-on-mobile{
        display: flex;
        flex-direction: row;
        align-items: center;
        width:25%;
        justify-content: space-between;
    }
    .map-app,.note-app,.mail-app{
        width:120px;
        height:120px;
    }

    .container{
        flex-direction: column;
    }

    .mail-search-bar {
        margin-left: 0px;        
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .mail-search-input {
        flex: 1;
        width: 100%;
    }

    .mail-list-container {
        box-shadow: none;
        padding: 20px;
        margin-top: 0;
        
    }

    .box:not(:last-child).mail-list-container {
        margin-bottom: 0px;
    }

    .filter-checkbox {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
        
    ::-webkit-scrollbar { 
        display: none; 
    }
}
