input  {
    display: inline-block;    
    border: none;
    background: none;
    padding: 10px;
}

.note-container{
    padding-left: 20px;
}
textarea {
    border: none;
    background: none;
    width: 76%;
}

.details-title,
.details-title input {
    border: none;
    font-size: 1.2em;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.details-title input,
.details-img input {
    width: 76%;
}

.details-text,
.details-img {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

img {
    display: block;
}
.note-outer {
    margin: 10px;
}

.note {
    /* display: flex; */
    flex-direction: column;
    width: 250px;
    min-height: 190px;
    padding: 10px;
    border: 2px solid black;
    background: linear-gradient(to bottom,white 35px,#e6ebed 1px);
    margin:20px auto;
    background-size: 100% 36px;
    position:relative;
    /* padding-right:20px; */
    overflow:hidden;
    border-radius:5px;
    box-shadow:3px 3px 3px rgba(0,0,0,.2),0px 0px 6px rgba(0,0,0,.2);
    padding-left: 45px;
    justify-content: space-between;
}

.note:before {
    content:'';
    display:block;
    position:absolute;
    z-index:1;
    top:0;
    left:30px;
    height:100%;
    width:8px;
    border-left: 1px solid #f2e3df;
    border-right: 1px solid #f2e3df;
}

a {
    text-decoration: none;
}

.containor {
    display: flex;
    flex-wrap: wrap;
}

/* .deleteOnNote {
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
} */

.note-header {
    /* display: flex; */
    /* flex-direction: column; */
    text-transform: capitalize;
    font-weight: bold;
    padding-left: 50px;    
} 

.note-header > .title {
    font-size: 2em;
    margin-bottom: 10px;
}

.note-main {
    /* flex-shrink: 1; */
    white-space: pre-line;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

.note-main > img {
    /* height: 50%; */
    height: 125px;
}

.note-details {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 250px;
    height: 250px;
}


.note-details-containor {
    background-image: url("../img/note.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.details-footer {
    display: flex;
    justify-content: flex-end;
}

.details-footer button {
    margin-left: 10px;
}

.note-top-button {
    height: 40px;
    margin: 0 10px;    
    /* border-radius: 20px; */
    /* border: none; */
}

.note-footer {
    display: flex;
    flex-direction: row-reverse;
}

.new-note input,
.new-note textarea {
    box-sizing: border-box;
    border: solid 1px #8cb2ce;
    /* background-color: red; */
}

.img-in-details {
    max-height: 50px;
    /* position: absolute; */
    right: 150px;
    top: 200px;
    /* z-index: -1; */
}

.note-details-footer {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* align-content: center; */
}

.note-details-delete {
    /* text-decoration: unset; */
    /* text-decoration-color: white; */
    border: none;
}

.note-details-delete:hover {
    background-color: whitesmoke;
    color: #363636;
}




@media screen and (max-width: 480px) {    


    
    .note-outer {
        margin: 3px;
        width: 100%;
        max-height: auto;
    }
    
    .note {
        width: 90%;
        height: 100px;
        padding: 5px;
        padding-left: 45px;
    }
    
    .note-header > .title {
        font-size: 1.4em;
        margin-bottom: 5px;
    }
    
    .note-main > img {
        height: 125px;
    }
    
    .note-details {
        font-size: 0.1em;
    }

    
    .note-main {
        height: auto;
        flex-grow: 0;
        padding: 0;
    }

    .note-header{
        width: 90%;        
    }

    .note-container{
        padding-left: 0;
    }
}